@tailwind base;
@tailwind components;
@tailwind utilities;


.services-icons-display{
    display: unset;
}
.services-title{
    font-weight: 900;
    font-size: 28px;
}

.blog-title-section{
    font-size: 42px;
    font-weight: bold;
}

.blog-title{
    font-size: 25px;
    font-weight: bold;
}

.about-us-title{
    font-size: 42px;
    font-weight: bold;
}

.vision-title{
    font-size: 30px;
    font-weight: bold;
}
.about-us-bg-color{
    background-color: #007f00;
}

.account-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 0.875rem; /* 14px */
    font-weight: 600;
    line-height: 1.625; /* 23px */
    color: #FFFFFF;
    background-color: #0a961d;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;
  }
  



